@import "tailwindcss";

@layer base {
    body {
        @apply m-0;
        font-family: 'Inria Serif', serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
